// Place all the styles related to the api/sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.session-form-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'DM Sans', sans-serif;
    background-image: image-url("money.png");
    height: 100vh;
}
.session-display-form{
    width: 50%;
    background-color: white;
    margin-left: auto;
    padding: 24px;
    height: 100vh;
}
.demo-button{
    margin-bottom: 30px;
}

.session-form{
    display: flex;
    flex-direction: column;
    margin-top: 25px;
}

.session-form input {
  border: none;
  border-radius: 10px;
  margin-bottom: 15px;
  height: 48px;
  width: 420px;
  padding-left: 20px;
  background-color: rgb(235, 238, 240);
}

.session-form input:hover {
  background-color: white;
  margin: -1px;
  margin-bottom: 14px;
  border: 1px solid lightgrey;
}

.session-form-container button {
  width: 150px;
  height: 45px;
  border: transparent;
  border-radius: 6px;
  font-family: 'Playfair Display', serif;
  color: white;
  font-weight: bold;
  margin-top: 50px;
  background-color: rgb(30,198,36);
  text-align: center; 
}

.session-form-container button:hover {
  background-color: rgb(0,173,37);
  transition: background 0.4s;
  cursor: pointer;
}

label span {
  display: block;
  font-size: 15px;
  margin-bottom: 12px;
}
.session-header {
  font-size: 25px;
  font-weight: bold;
  margin-top: 10px;
}

.session-img{
    height: 100%;
    width: 50%;
}

.session-link {
  margin-top: 12px;
  font-size: 16px;
  a {
    color: blue;
  }
}
.session-link h3 {
  margin-top: 18px;
  margin-bottom: 10px;
}
.session-errors {
  font-size: 13px;
  color: rgb(240, 8, 8);
}

