// Place all the styles related to the api/sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.session-form-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 20px;
    font-family: 'DM Sans', sans-serif;
}

.demo-button{
    margin-bottom: 30px;
}

.session-form{
    display: flex;
    flex-direction: column;
    margin-top: 25px;
}

.session-form input {
  border: none;
  border-radius: 10px;
  margin-bottom: 15px;
  height: 45px;
  width: 450px;
  padding-left: 15px;
  box-sizing: border-box;
  background-color: rgba(245, 248, 250, 1);
  transition: background 0.3s;
}