<% if logged_in? %>
  <script id="bootstrap-current-user" type="text/javascript">
  	window.currentUser = {       
          "id": <%= current_user.id %>,
          "username": "<%= current_user.username %>",
          "buyingPower": <%= current_user.buying_power %>
    };
  </script>
<% end %>

<main id="root"></main>
