.homepage{
    display: flex;
    background-color: rgba(196,243,78,1);
    font-family: 'DM Sans', sans-serif;
    position: relative;
}

.left-side{
    margin-left: 20px;
    height: 100vh;
}
.homepage-header{
    font-size: 30px;
    width: 500px;
    margin-top: 10px;
}

.homepage-text{
    font-size: 25px;
    width: 500px;
    margin-top: 60px;

}
