.navbar{
    display: flex;
    position: fixed;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color:white;
    z-index: 1;
    height: 64px;
}
.navbar-logo{
    display: flex;
    font-size: 32px;
    margin-left: 20px;
    font-weight: bold;
    font-family: 'Oswald', sans-serif;
}
.logo {
    margin-top: 11px;
    margin-left: 5px;
    height: 30px;
    width: 30px;
}

.home-link{
  margin-right: 24px;
  font-size: 20px;
  display: flex;
  align-items: center;
  font-family: 'Langar', cursive;
  font-size: 18px;
}
.home-link-child {
  margin-left: 30px;
  text-decoration: none;
  color: black;
  font-weight: bold;
}

#login:hover{
    color: rgb(30,198,36);
}

#signup{
  background-color: rgb(0,195,41);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 25px;
  height: 50px;
  width: 150px;
}
#signup:hover {
  background-color: rgb(0,173,37);
  transition: background 0.5s;
  cursor: pointer;
}

.user-dropdown{
  position: relative;
  display: inline-block;
  margin-right: 30px;
  font-weight: bold;
  .user-dropdown-header {
    display: inline-block;
    height: 30px;
    margin-top: 15px;
  }
  .user-dropdown-header:hover {
    cursor: pointer;
    color: #15ab30;
  }
}
.user-dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  box-shadow: 0 0 15px lightgray;
  font-weight: 100;
  right: 0;
  top: 40px;
  width: 260px;
  height: 150px;
  z-index: 1;
  header {
    margin-left: 15px;
    margin-top: 15px;
    font-weight: bold;
    font-size: 18px;
  }
}
.user-dropdown:hover {
  .user-dropdown-content {
  display: block;
  }
}

.balances {
  display: flex;
  margin-left: 15px;
  margin-top: 15px;
  font-size: 12px;
  padding-bottom: 15px;
  .value {
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 10px;
  }
}

.balances > div:first-child {
  margin-right: 25px;
}

.logout-button {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 50px;
  border-top: 1px solid #e6e9ed;
  svg {
    padding: 0 7px 0 15px;
  }
  span {
    font-size: 13px;
    font-weight: bold;
  }
}
.logout-button:hover {
  cursor: pointer;
  background-color: #f2f4f7;
}

.logout-img{
  height: 16px;
  width: 16px;
  margin-right: 5px;
}